  <div class="row">
    <div class="col-md-3" *ngFor="let item of data">
      <div class="card w-100" style="width: 18rem;">
        <img src="{{item?.avatar}}" class="card-img-top card-avatar mx-auto" alt="..." width="80px">
        <div class="card-body">
          <h5 class="card-title">{{item?.fullName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer d-flex justify-content-end">
          <button class="btn btn-primary action-button" (click)="onEdit(item?.id)">Chỉnh sửa</button>
          <button class="btn btn-danger ms-4 action-button">Xoá nhân viên</button> 
        </div>
      </div>
    </div>
  </div>
  